@import "tailwindcss";

/* styles/globals.css */
.page-bg {
    position: relative;
    background-image: url('/backgroundImage.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    z-index: 0;
  }
  
  /* Overlay pudar atas background image */
  .page-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0.5; /* tukar ini ikut berapa pudar */
    z-index: 1;
    pointer-events: none; /* supaya tak ganggu klik */
  }
  
  .page-content {
    position: relative;
    z-index: 2; /* pastikan di atas overlay */
  }
  

/* styles/globals.css */
.page1-bg {
  position: relative;
  background-image: url('/bg-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  z-index: 0;
}

/* Overlay pudar atas background image */
.page1-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: white;
  opacity: 0.5; /* tukar ini ikut berapa pudar */
  z-index: 1;
  pointer-events: none; /* supaya tak ganggu klik */
}

.page1-content {
  position: relative;
  z-index: 2; /* pastikan di atas overlay */
}

/* canva gradient  */
.canva-gradient {
  background: linear-gradient(90deg, #0cc0df33, #ffde5933);
}


.vs-bg{
  background-image: url('/vision_bg.jpg');
  background-size: cover;
}

:root {
  --clr-neutral-900: hsl(207, 19%, 9%);
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-accent-400: hsl(142, 90%, 61%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}

@keyframes loadingAnimation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.loading-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  background-color: #d2d8e0; /* Tailwind blue-500 */
  animation: loadingAnimation 10s linear forwards;
  border-radius: 4px;
  z-index: 0;
}
